---
title: Sponsors
---

<article class="base--STYLED">

  <h1 class="hed">Our Wonderful 2014 Sponsors</h1>
  <p>We'd love to give a big shout out to our awesome sponsors.
    Support these amazing companies that share our ethos.
    Their support is paramount to SassConf's rocking success. </p>

  <p><strong>Thank you all so much</strong>. </p>


  <h2><a href="http://oddbird.net/"><%= image_tag 'sponsors/oddbird.png',
    :alt => 'oddbird' %></a></h2>

    <p>OddBird is a small team that thrives on freely shared ideas &amp; playful
      collaboration, crossing disciplines, breaking boundaries, and eating our
      dessert with the soup spoon. From working on open-source tools like
      Django, Compass, and Susy to building web applications for Mozilla,
      The K Network, Providence Plan, Junyo, or ORCAS&mdash;and our own experiments
      in digital storytelling&mdash;we love molding ideas into experiences that
      people can use.</p>

    <p><a href="https://twitter.com/oddestbirds">@OddestBirds</a></p>

  <hr />

  <h3><a href="http://www.abookapart.com/"><%= image_tag 'sponsors/bkapart.png',
    :alt => 'A Book Apart' %></a></h3>

  <p>A Book Apart publishes highly detailed and meticulously edited examinations of single topics. We produce brief books of about 100 pages — the perfect size in terms of subject depth and coverage for topics like HTML5, CSS3, content strategy, responsive web design, and more.</p>

  <p>The goal of every title in our catalog is to shed clear light on a tricky subject, and do it fast, so you can get back to work. Thank you for supporting our mission to provide professionals with the tools they need to move the web forward. <a href="https://twitter.com/abookapart">@abookapart</a></p>

  <h3><a href="https://www.manning.com/"><%= image_tag 'sponsors/manning.png',
    :alt => 'manning' %></a></h3>

  <p>Manning is a publisher of computer books for professionals. Every new book teaches us something to help us improve. How to choose the topics; how to find the right authors; how to help authors write their manuscripts; how to ensure the content is valuable and easy to learn; how to get the word out about the book. Readers can access our books before they are finished through the Manning Early Access Program, and we make our books available through Safari and iBooks. Print copies, wherever they are bought, come with free electronic versions in PDF, ePub and Kindle formats, downloadable from the Manning site. <a href="https://twitter.com/manningbooks">@manningbooks</a></p>

  <h3><a href="http://pragprog.com/"><%= image_tag 'sponsors/pragprog.png',
    :alt => 'The Pragmatic Bookshelf' %></a></h3>

  <p><a href="https://twitter.com/pragprog">@pragprog</a></p>

  <h3><a href="http://rosenfeldmedia.com/"><%= image_tag 'sponsors/rosenfeld.png',
    :alt => 'Rosenfeld Media' %></a></h3>
  <p>Rosenfeld Media provides deep user experience design expertise in the formats you need: 18 books, over 50 workshops, and consulting from dozens of the field's top experts. <a href="https://twitter.com/rosenfeldmedia">@rosenfeldmedia</a></p>

  <hr />

  <h3><a href="http://cageapp.com/"><%= image_tag 'sponsors/cage.png',
    :alt => 'Cage' %></a></h3>

  <p>Cage is a simple way to manage projects, people, communication, revisions, feedback, and approvals. Trusted by thousands of agencies, studios, and creative teams. <a href="https://twitter.com/cageapp">@cageapp</a></p>

  <h3><a href="https://incident57.com/codekit/"><%= image_tag 'sponsors/codekit.png',
    :alt => 'CodeKit' %></a></h3>
    <p>CodeKit helps you build websites faster and better.</p>

  <h3><a href="http://www.git-tower.com"><%= image_tag 'sponsors/tower.png',
    :alt => 'tower' %></a></h3>

  <p>Tower is the best Git client for Mac. Beginners will love the clean &amp; easy interface. And for experts, Tower has all this nerdy Git magic under the hood. Download it at <a href="www.git-tower.com">www.git-tower.com</a> and try it free for 30 days. <a href="https://twitter.com/gittower">@gittower</a></p>


  <hr>

  <p>Find out more about our <%= link_to 'media partners', '/media-partners' %>. </p>

  <hr>

  <p>
    <em><a href="/">SassConf</a> is a conference for front-end developers
      and designers passionate about building a better, more beautiful web.
      <a href="https://twitter.com/sassconf">@sassconf</a></em>
  </p>


</article>

<%= partial "partials/organisms/sponsor" %>
